<% if(success && success.length){ %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%=success%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<!-- <div class="alert alert-success alert-dismissible fade show" role="alert"> 
    <% if(success && success.length){ %>
        <%=success%>
   <% } %>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->

<!-- in commented out code, The <div> is always rendered, even when success is empty or doesn't exist. but in the correct code, 
    The entire <div> is only rendered if success exists and is non-empty.-->

 <!-- and the col-6 div is centered because:
 Total grid width = 12 columns
 Left offset = 3 columns
 Content width = 6 columns
 Remaining columns on the right = 3 columns -->

 <% if(error && error.length){ %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%=error%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>