<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-6 offset-3 login">
        <h1>Sign in to PeerEvalS</h1>
        <br> <br>
        <div class="card" style="width: 400px;">
            <img src="/images/ntu.jpg" class="card-img-top" alt="NTU" style="height: 200px; object-fit: cover;">
            <div class="d-flex justify-content-center bsk-container mt-5 login-card card-body">
              <a href="/auth/microsoft" class="btn btn-lg bsk-btn bsk-btn-default">
                <object type="image/svg+xml" data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg" class="x-icon"></object> 
                <b>Sign in with Microsoft</b>
              </a>
            </div>
        </div>
    </div>
</div>

