<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="home">
            <div class="card" style="width: 20rem;">
                <img src="/images/ntu.jpg" class="card-img-top" alt="NTU">
                <div class="card-body">
                  <h3><b>Total no. of courses:</b></h3>
                  <!-- <div class="position-relative d-inline-block">
                    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span class="card-text position-absolute top-50 start-50 translate-middle fs-3 fw-bold"> -->
                        <h3><b><%= countCourses %></b></h3>
                    <!-- </span>
                </div> -->
                </div>
              </div>
        </div>
    </div>     
</body>

